.value {
  margin-inline-start: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.value code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.copy {
  padding: 0 0.5em;
  background: none;
  border: none;
  cursor: pointer;
}
